<div class="wrapper">
  <header>
    <h1>Autocomplete</h1>
  </header>

  <main>
    <form [formGroup]="form" role="form" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="minChar">
              Minimum characters<sup>*</sup>
            </label>
            <input type="number" class="form-control" id="minChar" [min]="0" formControlName="minChar" aria-describedby="unset-value-desc">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="resultLimit">
              Result limit<sup>*</sup>
            </label>
            <input type="number" class="form-control" id="resultLimit" [min]="0" [max]="Count.ITEMS_COUNT" formControlName="resultLimit" aria-describedby="unset-value-desc">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="minMaxItemsCount">
              Items selection count (min - max)
            </label>
            <div class="row">
              <div class="col-6">
                <input type="number" class="form-control" id="minMaxItemsCount" [min]="0" [max]="form.controls.maxItemsCount.value" formControlName="minItemsCount">
              </div>
              <div class="col-6">
                <input type="number" class="form-control" [min]="form.controls.minItemsCount.value" [max]="Count.ITEMS_COUNT" formControlName="maxItemsCount">
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <small class="form-text text-muted" id="unset-value-desc">
            * Set any value to "0" (or below), it will be equals to <i>null</i> (unset).
          </small>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="autocomplete">Enter a fruit</label>
            <autocomplete id="autocomplete" [items]="fruits" [minChar]="minChar" [resultLimit]="resultLimit" [minItemsCount]="minItemsCount" [maxItemsCount]="maxItemsCount" formControlName="autocomplete"></autocomplete>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">
          <div class="table-wrapper">
            <table class="table table-bordered table-hover table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="id">ID</th>
                  <th class="name">Name</th>
                  <th class="colour">Colour</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fruit of form.controls.autocomplete.value">
                  <td>{{ fruit.id }}</td>
                  <td>{{ fruit.name }}</td>
                  <td>{{ fruit.colour }}</td>
                </tr>
                <tr *ngIf="form.controls.autocomplete.value.length == 0">
                  <td colspan="3" aria-colspan="3">
                    Selected fruits will appear here.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </main>

  <footer role="contentinfo">
    Made by Chelny Duplan
  </footer>

  <!-- <router-outlet></router-outlet> -->
</div>